---
---

@import 'vendors/normalize';

@import 'theme/colors';
@import 'theme/typography';

@import 'modules/vars';
@import 'modules/helpers';
@import 'modules/mixins';

@import 'includes/header';
@import 'includes/footer';

@import 'layouts/default';
@import 'layouts/post-contest';
@import 'layouts/post-lesson';
@import 'layouts/post-blog';
@import 'layouts/page';

@import 'pages/about';
@import 'pages/contact';
@import 'pages/contests';
@import 'pages/index';
@import 'pages/press';
@import 'pages/blog';
@import 'pages/lessons';