---
layout: page
class: competitions
header: Competitions
---

<div class="h2">
  Upcoming competitions
</div>
<div class="page-content-custom">
  {% if site.data.upcoming_competitions == false %}
    <div class="index-competitions-section-list-empty">
      No upcoming competitions, check back again later!
    </div>
  {% endif %}
  {% for competition in site.data.upcoming_competitions %}
    {% include competition_item.html
      img=competition.img
      title=competition.title
      date=competition.date
      location=competition.location
      size=competition.size
      link=competition.link %}
  {% endfor %}
</div>

<div class="h2">
  Past competitions
</div>
<div class="page-content-custom">
  {% if site.data.past_competitions == false %}
    <div class="index-competitions-section-list-empty">
      No past competitions, check back again later!
    </div>
  {% endif %}
  {% for competition in site.data.past_competitions %}
    {% include competition_item.html
      img=competition.img
      title=competition.title
      date=competition.date
      location=competition.location
      size=competition.size
      link=competition.link %}
  {% endfor %}
</div>