---
layout: page
class: competitions
header: Contests
---

<div class="site-max-width">
  <div class="h2">
    Upcoming contests
  </div>
  <div class="page-content-custom">
    {% if site.data.upcoming_contests == false %}
    <div class="index-competitions-section-list-empty">
      No upcoming contests, check back again later!
    </div>
    {% endif %}
    {% for competition in site.data.upcoming_contests %}
    {% include competition_item.html
       img=competition.img
       title=competition.title
       date=competition.date
       location=competition.location
       link=competition.link size='' %}
    {% endfor %}
  </div>

  <div class="h2">
    Past contests
  </div>
  <div class="page-content-custom">
    {% if site.data.past_contests == false %}
    <div class="index-competitions-section-list-empty">
      No past contests, check back again later!
    </div>
    {% endif %}
    {% for competition in site.data.past_contests %}
    {% include competition_item.html
      img=competition.img
      title=competition.title
      date=competition.date
      location=competition.location
      size=competition.size
      link=competition.link %}
    {% endfor %}
  </div>
</div>
