---
layout: default
---
<div class="index-header clearfix">
  <div class="site-max-width clearfix">
    <div class="index-header-section">
      <div class="index-header-section-h1">
        We host high school programming contests.
      </div>
      <div class="index-header-section-h1-sub">
        TeamsCode spreads computer science education to 
        high school students by organizing amateur programming contests.
      </div>
      <a href = "/contests"><button class = "index-header-section-button">BROWSE CONTESTS</button></a>
      <a href = "/contact"><button class = "index-header-section-button">CREATE A CONTEST</button></a>
    </div>
  </div>
</div>
<div class="widget" style="background:#eeeeee">
  <div class="widget-max-width">
    <div class="row">
      <div class="column">
        <div class="widget-header">Live Contests</div>
        <div class="widget-body">
          We host live programming contests so students can learn teamwork and computer science, all while eating free food and getting
          awesome raffle prizes!
        </div>
        <a class="a" ; style="font-size:20px" href="/contests">
          <b>Find a contest</b>
        </a>
      </div>
      <div class="column">
        <div class="widget-photo">
          <img style="float:right" src="/assets/contest_images/index_contest.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widget">
  <div class="widget-max-width">
    <div class="row">
      <div class="column">
        <div class="widget-photo">
          <img style="float:left" src="/assets/contest_images/index_contest.jpg" />
        </div>
      </div>
      <div class="column">
        <div class="widget-header">Live Contests</div>
        <div class="widget-body">
          We host live programming contests so students can learn teamwork and computer science, all while eating free food and getting
          awesome raffle prizes!
        </div>
        <a class="a" ; style="font-size:20px" href="/contests">
          <b>Find a contest</b>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="index-content">
  <div class="site-max-width">
    <div class="index-competitions">
      <div class="index-competitions-section">
        <div class="index-competitions-section-header h3">
          Upcoming contests
        </div>
        <div class="index-competitions-section-list">
          {% if site.data.upcoming_contests == false %}
            <div class="index-competitions-section-list-empty">
              No upcoming contests, check back again later!
            </div>
          {% endif %}
          {% for competition in site.data.upcoming_contests %}
            {% include competition_item.html
              img=competition.img
              title=competition.title
              date=competition.date
              location=competition.location
              size=''
              link=competition.link %}
          {% endfor %}
        </div>
      </div>
      <div class="index-competitions-section">
        <div class="index-competitions-section-header h3">
          Past contests
        </div>
        <div class="index-competitions-section-list">
          {% if site.data.past_contests == false %}
            <div class="index-competitions-section-list-empty">
              No past contests, check back again later!
            </div>
          {% endif %}
          {% for competition in site.data.past_contests %}
            {% include competition_item.html
              img=competition.img
              title=competition.title
              date=competition.date
              location=competition.location
              size=competition.size
              link=competition.link %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/index.js" type="text/javascript"></script>
