---
layout: default
---
<div class="index-header clearfix">
  <div class="site-max-width clearfix">
    <div class="index-header-section">
      <div class="index-header-section-h1">
        We host high school programming contests.
      </div>
      <div class="index-header-section-h1-sub">
        TeamsCode spreads computer science education to high school students by organizing amateur programming contests. 
      </div>
    </div>
  </div>
</div>

<div class="index-content-a"></div>

<div class="index-content-b">
  <div class="site-max-width">
    <div class="index-competitions">
      <div class="index-competitions-section">
        <div class="index-competitions-section-header h3">
          Upcoming contests
        </div>
        <div class="index-competitions-section-list">
          {% if site.data.upcoming_contests == false %}
            <div class="index-competitions-section-list-empty">
              No upcoming contests, check back again later!
            </div>
          {% endif %}
          {% for competition in site.data.upcoming_contests %}
            {% include competition_item.html
              img=competition.img
              title=competition.title
              date=competition.date
              location=competition.location
              size=''
              link=competition.link %}
          {% endfor %}
        </div>
      </div>
      <div class="index-competitions-section">
        <div class="index-competitions-section-header h3">
          Past contests
        </div>
        <div class="index-competitions-section-list">
          {% if site.data.past_contests == false %}
            <div class="index-competitions-section-list-empty">
              No past contests, check back again later!
            </div>
          {% endif %}
          {% for competition in site.data.past_contests %}
            {% include competition_item.html
              img=competition.img
              title=competition.title
              date=competition.date
              location=competition.location
              size=competition.size
              link=competition.link %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="assets/js/index.js" type="text/javascript"></script>
