---
layout: page
class: lessons
header: Lessons
---

<div class="site-max-width">
  <div class="h2">
    Browse a selection of computer science tutorials and lessons.
  </div>

<a href="/contests">
<div class="group-container">
  <div class="lesson-group graphic">
    <div class="widget-max-width">
      <div class="row" style="margin-left:-60px;">  
        <div class="lesson-photo">
          <img style="float:left" src="/assets/lesson_images/java_lessons.png" />
        </div>
        <div>
          <div class="lesson-header"">AP Computer Science A</div>
          <div class="lesson-body">
            In this course, readers will be taught the fundamentals of computer science in Java in order to prepare for the AP Computer Science A exam that takes place every year in May. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</a>

<a href="/contests">
<div class="group-container">
  <div class="lesson-group graphic">
    <div class="widget-max-width">
      <div class="row" style="margin-left:-60px;">
        <div class="lesson-photo">
          <img style="float:left" src="/assets/lesson_images/programming_problems.png" />
        </div>
        <div>
          <div class="lesson-header"">Programming Problems</div>
          <div class="lesson-body">
            Explore a collection of over 30 programming challenges from previous TeamsCode programming contests and submit your solutions to see if you found a successful solution. 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</a>

  <!--<div class="page-content-custom">
    {% if site.data.lessons == false %}
    <div class="lessons-section-list-empty">
      No lessons, check back again later!
    </div>
    {% endif %}
    {% for lesson in site.data.lessons %}
      {% include lesson_item.html
        img=lesson.img
        title=lesson.title
        desc=lesson.desc
        link=lesson.link %}
    {% endfor %}
  </div>-->
</div>