<div class="footer">
  <div class="site-max-width">
    <div class="footer-copyright">
      Teamscode &copy; 2017
    </div>
    <div class="footer-social-menu">
      <div>
        <a href="https://www.facebook.com/teamscode">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <br>
    <div class="footer-copyright"style="font-size:12px">TeamsCode is a 501(c)(3) non-profit organization.</div>
    <div class="footer-copyright" style="font-size:12px">Website and materials not to be reproduced without prior written permission from both TeamsCode Presidents (Alan Bi and Chris Elliott).</div>
  </div>
</div>