<script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
<div class="footer">
  <div class="site-max-width">
    <div class="footer-copyright">
      TeamsCode &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
    </div>
    <div class="footer-social-menu">
      <div>
        <a href="https://instagram.com/teamscode" target="_blank">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="https://discord.gg/8pg89SS" target="_blank">
          <i class="fab fa-discord" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="https://www.facebook.com/teamscode" target="_blank">
          <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="https://github.com/teamscode" target="_blank">
          <i class="fab fa-github" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="https://twitter.com/TeamsCode" target="_blank">
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <br>
    <div class="footer-copyright"style="font-size:12px">TeamsCode is a 501(c)(3) non-profit organization.</div>
    <div class="footer-copyright" style="font-size:12px">Website and materials not to be reproduced without prior written permission from TeamsCode Co-Presidents (Sean Yang and Ryan Hsu).</div>
  </div>
</div>
