<div class="footer">
  <div class="site-max-width">
    <div class="footer-copyright">
      Teamscode &copy; 2017
    </div>
    <div class="footer-social-menu">
      <div>
        <a href="https://www.facebook.com/teamscode">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </div>
      <div>
        <a href="">
          <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>