<div class="header">
  <div class="site-max-width">
    <div class="header-logo">
      <a href="/">
        <img src="/assets/images/{{ include.logo }}" height="48" alt="teamscode" />
      </a>
    </div>
    <div class="header-menu">
      <div class="header-menu-item">
        <a href="/learn">Learn</a>
      </div>
      <div class="header-menu-item">
        <a href="/contests">Contests</a>
      </div>
      <div class="header-menu-item">
        <a href="/press">Press</a>
      </div>
      <div class="header-menu-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="header-menu-item">
        <a href="/contact">Contact</a>
      </div>
      <div class="header-menu-item">
        <a href="/affiliates">Affiliates</a>
      </div>
      <div class="header-menu-item">
        <a href="/about">About</a>
      </div>
    </div>
  </div>
  <div style="background-color: whitesmoke; padding-right: 50px; padding-left: 50px; color:black; line-height: 54px;">
    <span>This site is retired and is no longer updated since November 2021. Please visit our new website at
      <a class="inline-link" href="https://www.teamscode.org">https://www.teamscode.org</a> for up-to-date
      information!</span>
  </div>
</div>