<div class="header">
  <div class="site-max-width">
    <div class="header-logo">
      <a href="/">
        <img src="/assets/images/{{ include.logo }}" height="32" alt="teamscode"/>
      </a>
    </div>
    <div class="header-menu">
      <div class="header-menu-item">
        <a href="/learn">Learn</a>
      </div>
      <div class="header-menu-item">
        <a href="/contests">Contests</a>
      </div>
      <div class="header-menu-item">
        <a href="/press">Press</a>
      </div>
      <div class="header-menu-item">
        <a href="/blog">Blog</a>
      </div>
      <div class="header-menu-item">
        <a href="/contact">Contact</a>
      </div>
      <div class="header-menu-item">
        <a href="/about">About</a>
      </div>
    </div>
  </div>
</div>
