<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TeamsCode</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="/assets/images/dark_logo.png">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Inconsolata" />

  <!-- Sharing link information -->
  <meta property="og:site_name" content="TeamsCode"/>
  <meta property="og:description" content="TeamsCode is a student-run 501(c)(3) non-profit that works to encourage high school students to study computer science through team-focused programming contests!"/>
  <meta property="og:image" content="/assets/images/teamscode_share_graphic.png">
  <meta property="og:url" content="http://teamscode.com/">
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109560289-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109560289-1');
  </script>

</head>
