<div class="lessons-section-list-item lesson-container">
  <a href="{{ include.link }}">
    <div class="list-item-info">
      <div class="list-item-title">
        {{ include.title }}
      </div>
    </div>
  </a>
</div>

<!-- <div class="lessons-section-list-item">
  <a href="{{ include.link }}">
    <div class="list-item-img">
      <img src="{{ include.img }}"/>
    </div>
    <div class="list-item-info">
      <div class="list-item-title">
        {{ include.title }}
      </div>
      <div class="list-item-desc">
        {{ include.desc }}
      </div>
    </div>
  </a>
</div>-->