<div class="lessons-section-list-item overview-container">
  <div class="header-item-info">
    <div class="header-item-title">
      {{ include.header }}
    </div>
    {{ include.description }}
  </div>
</div>

{% for lesson in include.lessons %}
<div class="lessons-section-list-item lesson-container">
  <a href="{{ lesson.link }}">
    <div class="list-item-info">
      <div class="list-item-title" {% if lesson.title contains "Coding Challenge" or lesson.title contains "Overview Lesson" %} style="color: red;" {% endif %}>
        {{ lesson.title }}
      </div>
    </div>
  </a>
</div>
{% endfor %}

<!-- <div class="lessons-section-list-item">
  <a href="{{ include.link }}">
    <div class="list-item-img">
      <img src="{{ include.img }}"/>
    </div>
    <div class="list-item-info">
      <div class="list-item-title">
        {{ include.title }}
      </div>
      <div class="list-item-desc">
        {{ include.desc }}
      </div>
    </div>
  </a>
</div>-->