---
layout: page
class: programming-practice
---

<div class="site-max-width">
  <div class="h1" style="text-align:center">
    Programming Practice
  </div>
  <div class="h4" style="font-size: 23px; line-height: 1.4">
    Browse TeamsCode's collection of programming problems!</a>. 
    <br>
    If you want to download a zip file with all of the TeamsCode problems and input/outputs,
    <a class="a" href="/assets/problem_pdfs/all_problems.zip">click here</a>. <br>
    <!--Test your solutions online <a class="a" href="{{ site.ltrurl }}">here</a>.-->
    <b>Want to practice TeamsCode problems live? Interested in competing with friends or teammates? Check out <a class="a" href="https://codejoust.co/">CodeJoust</a>!</b> <br>
    <i>Note: CodeJoust is currently in beta, but is being rapidly developed. For suggestions or bug reports, contact <u>support@codejoust.co</u>.</i>
  </div>
  <div class="row">
    {% for problem in site.data.programming_problems %}
      {% include problem_header.html
        difficulty=problem.difficulty
        problems=problem.problems %}
    {% endfor %}
  </div>
</div>