---
layout: page
class: programming-practice
---

<div class="site-max-width">
  <div class="h1" style="text-align:center">
    Programming Practice
  </div>
  <div class="h4" style="font-size: 23px; line-height: 1.4">
    Browse TeamsCode's collection of programming problems. To learn how to create and 
    test your answer, please reference <a class="a" href="/assets/problem_pdfs/how_to_solve.pdf">this pdf</a>.
    <br>
    If you want to download a zip file with all of the TeamsCode problems and input/outputs,
    <a class="a" href="/assets/problem_pdfs/all_problems.zip">click here</a>. <br>
    <b>New Addition:</b> Test your solutions online <a class="a" href="{{ site.ltrurl }}">here</a>.
    <!--<b>LaunchTestRun is currently down for maintenence, and will be returning soon.</b>-->
  </div>
  <div class="row">
    {% for problem in site.data.programming_problems %}
      {% include problem_header.html
        difficulty=problem.difficulty
        problems=problem.problems %}
    {% endfor %}
  </div>
</div>
