.site-max-width {
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.blog-max-width {
    max-width: $blog-max-width;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.widget-max-width {
    max-width: $widget-max-width;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.post-contest-max-width {
    max-width: $post-contest-max-width;
    margin: 0 auto;
    padding: 0 20px;
}

.post-blog-max-width {
    max-width: $post-blog-max-width;
    margin: 0 auto;
    padding: 0 20px;
}

.post-lesson-max-width {
    max-width: $post-lesson-max-width;
    margin: 0 auto;
    padding: 0 20px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hr-small {
    width: 40px;
    border-top: 1px solid #ccc;
    display: block;
}

.align-right {
    text-align: right;
}