// Site
$site-max-width: 960px;

//Index
$index-max-width: 100px;

// Header
$header-height: 64px;
$header-line-height: 64px;

// Post contest
$post-contest-max-width: 720px;

// Post lesson
$post-lesson-max-width: 720px;

// Contests


// Publicity
$publicity-max-width: 720px;

// Contact


// About

