// Site
$site-max-width: 960px;

// Header
$header-height: 64px;
$header-line-height: 64px;

// Post
$post-max-width: 720px;

// Contests


// Publicity
$publicity-max-width: 720px;

// Contact


// About

