// Site
$site-max-width: 960px;

// Index widgets
$widget-max-width: 760px;

// Header
$header-height: 64px;
$header-line-height: 64px;

// Post contest
$post-contest-max-width: 720px;

// Post blog
$post-blog-max-width: 720px;

// Post lesson
$post-lesson-max-width: 1000px;

// Contests


// Publicity
$publicity-max-width: 720px;

// Contact

// About

// Blog
$blog-max-width: 760px;
