.about-page {
  .page-header {
    background: url('/assets/about_images/about_team_header_image.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:-40px;
    margin-bottom:40px;
    padding: 50px 0 5px 0;
    color:white;
  }

  .about-team {
    margin-bottom: 40px;

    > div {
      display: inline-block;
      vertical-align: top;
    }

    .about-team-image {
      @include border-radius(100px);
      background: #eee;
      height: 160px;
      width: 160px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }

    .about-team-info {
      margin-left: 40px;

      .about-team-info-header {
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 15px;
      }

      .about-team-info-title {
        font-weight: 50;
        font-style: italic;
        font-size: 15px;
        margin-bottom: 15px;
      }
    }
  }
}

.about-content-a {
  background: url('/assets/contest_images/index_photo_dark.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
  margin-top: -40px;
  

  .site-max-width {
    height: 500px;
  }
}