.competitions-page {
  .page-header {
    background: $competitions-content-header-bkg;
    color: $competitions-content-header-fnt-color;
  }
}

// could not find a way to nicely include this image, commented out in index.html
.contest-image {
  background: url('/assets/contest_collage/contest_collage.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 40px;
  height: 450px;
}

.index-header-section-button {
  background-color: #7F7EFF;
  border: none;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Verdana;
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius:10px;

  &:hover {
    background-color: #2323FF;
  }

  &:focus {
    outline: none;
  }
}

.index-competitions-section-list-item {
  // @include border-radius(6px);
  // @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.07));
  width: 200px;
  overflow: hidden;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
  }

  .list-item-img {
    width: 200px;
    height: 150px;

    img {
      height: 100%;
    }
  }

  .list-item-info {
    font-family: "Verdana";
    line-height:1.6;
    padding: 20px;

    .list-item-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    .list-item-date {
      color: #777;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .list-item-location {
      color: #777;
      font-size: 12px;
      margin-bottom: 3px;
    }

    .list-item-size {
      color: #777;
      font-size: 12px;
    }
  }
}