.contact-page {
  .page-header {
    background: $contact-content-header-bkg;
    color: $contact-content-header-fnt-color;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 50%;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Verdana';
  }

  .contact-input-section {
    margin: 80px 0 40px 0;
    max-width: 400px;
    position: relative;

    label {
      cursor: pointer;
      display: block;
      position: absolute;
      font-size: 14px;
      top: 0;
      margin-top: -40px;
      width: 100%;
      padding-bottom: 20px;
    }

    input[type=text],
    textarea {
      border: none;
      border-bottom: 1px solid #ccc;
      display: block;
      max-width: 400px;
      font-size: 18px;
      padding-bottom: 10px;
      width: 100%;
      resize: none;

      &:focus {
        border-color: $blue-a200;
        outline: none;
      }

      &:focus + label {
        color: $blue-a200;
      }
    }

    textarea {
      height: 200px;
    }
  }

  .contact-submit-section {
    margin: 40px 0;
    max-width: 400px;

    input[type=submit] {
      border: none;
      background: $blue-a200;
      @include border-radius(4px);
      color: #fff;
      cursor: pointer;
      font-weight: 500;
      padding: 10px 20px;

      &:focus {
        outline: none;
      }
    }
  }
}