.index-header {
  background: $index-header-bkg;
  padding: 65px 0 120px 0;

  .index-header-section {
    color: $index-header-fnt-color;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-family: Verdana;
    color: white;
    line-height: 1.4;
    

    .index-header-section-h1 {
      
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .index-header-section-h1-sub {
      font-size: 21px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    .index-header-section-button {
      background-color: #2a6496;
      border: none;
      color: white;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family: Verdana;
      font-weight: bold;
      margin-right: 5px;
      margin-left: 5px;
  }
  }
}

.index-competitions {
  padding: 40px 0;

  .index-competitions-section + .index-competitions-section {
    margin-top: 40px; // ?
  }

  .index-competitions-section-header {
    margin-bottom: 40px; // ?
  }

  .index-competitions-section-list {
    .index-competitions-section-list-item {
      // @include border-radius(6px);
      // @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.07));
      width: 320px;
      overflow: hidden;

      a {
        color: inherit;
        text-decoration: none;
      }

      .list-item-img {
        background: #eee;
        width: 320px;
        height: 160px;

        img {
          height: 100%;
        }
      }

      .list-item-info {
        padding: 20px;

        .list-item-title {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        .list-item-date {
          color: #777;
          font-size: 16px;
          margin-bottom: 3px;
        }

        .list-item-location {
          color: #777;
          font-size: 16px;
          margin-bottom: 3px;
        }

        .list-item-size {
          color: #777;
          font-size: 16px;
        }
      }
    }
  }
}

.index-content-a {
  background: url('https://codemihs.files.wordpress.com/2017/01/img_24675.jpg?') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  margin-top: -480px;
  

  .site-max-width {
    height: 500px;
  }
}