.index-header {
  background: $index-header-bkg;
  padding: 164px 0 100px 0;
  margin-top: -64px;

  .index-header-section {
    color: $index-header-fnt-color;
    display: inline-block;
    float: right;
    width: 50%;
    vertical-align: top;

    .index-header-section-h1 {
      font-size: 36px;
      font-weight: 400;
      font-family: 'Roboto Mono';
      line-height: 1.4;
      margin-bottom: 20px;
    }

    .index-header-section-h1-sub {
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  .index-header-animation {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    position: relative;
    margin-top: 20px;
    height: 240px;

    .index-header-animation-info {
      position: absolute;
      bottom: 20px;

      > div {
        color: #888;
        font-size: 14px;
        margin-bottom: 10px;
      }

      button {
        border: none;
        background: #888;
        @include border-radius(4px);
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;

        i {
          font-size: 10px;
          vertical-align: top;
          margin: 3px 5px 0 0;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.index-competitions {
  padding: 40px 0;

  .index-competitions-section + .index-competitions-section {
    margin-top: 40px;
  }

  .index-competitions-section-header {
    margin-bottom: 40px;
  }

  .index-competitions-section-list {
    .index-competitions-section-list-item {
      // @include border-radius(6px);
      // @include box-shadow(0, 1px, 2px, 0, rgba(0, 0, 0, 0.07));
      width: 320px;
      overflow: hidden;

      a {
        color: inherit;
        text-decoration: none;
      }

      .list-item-img {
        background: #eee;
        width: 320px;
        height: 160px;

        img {
          height: 100%;
        }
      }

      .list-item-info {
        padding: 20px;

        .list-item-title {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 10px;
        }

        .list-item-date {
          color: #777;
          font-size: 16px;
          margin-bottom: 3px;
        }

        .list-item-location {
          color: #777;
          font-size: 16px;
          margin-bottom: 3px;
        }

        .list-item-size {
          color: #777;
          font-size: 16px;
        }
      }
    }
  }
}

.index-content-a {
  background: url('https://codemihs.files.wordpress.com/2017/01/img_24675.jpg?') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;

  .site-max-width {
    height: 500px;
  }
}