---
layout: page
class: competitions
header: Contests
---
<div class="site-max-width">
  <div class="h1">
    Making programming fun.
  </div>
  <div class="p" style="max-width:960px; font-size:17px">
    We understand that learning programming can be tedious. We give students valuable 
    programming practice and team-building skills by organizing awesome programming 
    contests. Snacks, pizza, medals, and prizes are always available!
  </div>  
</div>
<div class="site-max-width">
  <div class="h2" style="margin-bottom: 30px">
    <b>Upcoming contests</b>
  </div>
  <div class="page-content-custom">
    {% if site.data.upcoming_contests == false %}
    <div class="index-competitions-section-list-empty">
      No upcoming contests, please check back again later!
    </div>
    {% endif %}
    {% for competition in site.data.upcoming_contests %}
    {% include competition_item.html
      img=competition.img
      title=competition.title
      affiliation=competition.affiliation
      cohost=competition.cohost
      date=competition.date
      location=competition.location
      link=competition.link size='' %}
    {% endfor %}
  </div>
  <div class="h2" style="margin-bottom:30px">
    <b>Past contests</b>
  </div>
  <div class="page-content-custom">
    {% if site.data.past_contests == false %}
    <div class="index-competitions-section-list-empty">
      No past contests, check back again later!
    </div>
    {% endif %}
    {% for competition in site.data.past_contests %}
    {% include competition_item.html
      img=competition.img
      title=competition.title
      cohost=competition.cohost
      date=competition.date
      location=competition.location
      size=competition.size
      link=competition.link %}
    {% endfor %}
  </div>
    <p class="apply-widget">Interested in joining our team? Click below to get started!</p>
    <a href = "/contests/create"><button class = "contests-header-section-button" style="margin-top:-30px; margin-bottom:40px">JOIN OUR TEAM</button></a>
</div>