.header {
  position:fixed;
  top:0;
  width:100%;
  margin-bottom:100px;
  background-color:white !important;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-color:#F0F0F0;
  z-index:999999;
  height: $header-height;
  line-height: $header-line-height;
  min-width:650px;
  

  .header-logo {
    line-height: $header-line-height;

    a {
      font-weight: 800;
      font-size: 22px;
      display: block;

      img {
        vertical-align: middle;
      }
    }
  }

  a {

    @include transition(opacity 0.3s ease);

    &:hover {
      @include opacity(0.5);
    }
  }

  .header-menu {
    
    float: right;
    font-family: Verdana;
    color: #444444;

    .header-menu-item {
      font-size: 14px;
      line-height: $header-line-height;
    }

    .header-menu-item + .header-menu-item {
      margin-left: 40px;
    }
  }

  .header-logo,
  .header-menu,
  .header-menu-item {
    display: inline-block;
    vertical-align: top;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}