.default-layout {
  .header {
    background: $header-bkg-default-layout;
    color: $header-fnt-color-default-layout;
  }
}

a {
  border: none !important;
}

body {
  min-width:650px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:650px;             /* As IE ignores !important it will set width as 1000px; */
}