.page-layout {
  .header {
    background: $header-bkg-page-layout;
    color: $header-fnt-color-page-layout;
  }
}

.page-header {

  .site-max-width {
    > div {
      margin-bottom: 20px;
      
    }
  }
}

.page-content {
  padding-top: 40px;

  .site-max-width {
    > div {
      margin-bottom: 40px;
    }

    .page-content-custom {

    }
  }

  .index-max-width {
    
  }
}