.post-lesson-layout {
  .header {
    background: $header-bkg-post-lesson-layout;
    color: $header-fnt-color-post-lesson-layout;
  }
}

.post-lesson-header {
  background: $post-lesson-header-bkg;
  padding: 164px 0 40px 0;
  margin-top: -64px;

  .post-lesson-header-section {
    color: $post-lesson-header-fnt-color;
    display: inline-block;
    width: 100%;
    vertical-align: top;

    .h1 {
      margin-bottom: 20px;
    }

    .post-lesson-header-section-info {
      div {
        margin-bottom: 5px;
      }
    }
  }
}

.post-lesson-body {
  padding: 0 0 40px 0;
}

.lesson-container {
  div:hover {
    background-color:#f5f5f5;
  }

  width: 800px !important;
  height: 65px;
  border-width: 1px 0px; 
  border-color: #f0f0f0; 
  border-style: solid;
  margin-bottom: -1px;
}

.overview-container {
  width: 800px;
  height: 120px;
  border-width: 1px 0px; 
  border-color: #f0f0f0; 
  border-style: solid;
}
