<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="post-contest-layout">
      {% include header.html
         logo="dark_logo.svg" %}
      {% include scripts.html %}
      <div class="content">
        <div class="post-contest-header">
          <div class="post-contest-max-width">
            <div class="post-contest-header-section">
              <div class="h1">
                {{ page.contest_title }}
              </div>
              <div class="post-contest-header-section-info">
                <div id="cohost">Co-Host: {{ page.contest_cohost }}</div>
                <div>{{ page.contest_date }}</div>
                <div>{{ page.contest_location }}</div>
                {% if page.contest_size %} 
                  <div>{{ page.contest_size }} students</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="post-contest-body">
          <div class="post-contest-max-width">
            {% if page.contest_sponsors %} 
              
            {% endif %}
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>