<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="post-contest-layout">
      {% include header.html
         logo="light_logo.svg" %}
      {% include scripts.html %}
      <div class="content">
        <div class="post-contest-header">
          <div class="post-contest-max-width">
            <div class="post-contest-header-section">
              <div class="h1">
                {{ page.contest_title }}
              </div>
              <div class="post-contest-header-section-info">
                <div>{{ page.contest_date }}</div>
                <div>{{ page.contest_location }}</div>
                {% if page.contest_size %} 
                  <div>{{ page.contest_size }} students</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="post-contest-body">
          <div class="post-contest-max-width">
            {% if page.contest_sponsors %} 
              <div style="float: right;margin-right: -150px;">
                <h1><b>Sponsors</b></h1>
                <a href="https://pscsta.org"><img src="/assets/images/sponsor_pscsta.png" style="width:150px; margin-right: 20px;"></a>
                <a href="https://pagliacci.com"><img src="/assets/images/sponsor_pagliacci.jpg" style="width:100px;"></a>
              </div> 
            {% endif %}
            {{ content }}
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>